/* .list-container{

    background-attachment: scroll;
    background-color:#ccc;
    width: 100%;
    height:10
} */
.default-text-box{

    
    width:40%;
    margin:auto;
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 200px;
}
.product-cards{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

